@import 'variaveis.less';

/* meu normalize. ver se já não existe isso no normalize.css */

div, aside, h1, section {
	box-sizing: border-box;
}

header, section, footer {
	padding: 0; /* evitar margin collapsing */
}

section {
	h2:first-child, h2:first-of-type {
		margin-top: 0; /* normalizando margem do header */
	}
}

/* padrão design */

a {
	color: @azultopo;
	text-decoration: none;
}

h2, h3 { /* header seção */
	color: @azultopo;
	font-weight: 900;
}

h3 {
	font-weight: 400;
}

@import 'grid.less';

@import 'form.less';

/* estrutura */

body {
	margin:0;
	padding:0;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	font-weight: 300;
	background-color: @azul;
	-webkit-font-smoothing: antialiased; /* evitar que as fontes sejam automaticamente bold no Mac. */
}

div.wrap960 {
	margin: 0 auto;
	width: 960px;
	position: relative;
	.clearfix;
}

/* inicio estilos slonga */

header#main {
	width: 100%;
	height: 70px;
	background-color: @azultopo;
	#marca { /* imagens bonecos, tirei */
		width:120px;
		height: 90px;
		background: #007095 url('../images/bonecos.png') 50% 50% no-repeat;
		float: left;
		margin-right: 25px;
	}
	h1 {
		margin: 16px 0 0;
		display: inline-block;
		font-size: 1.6em;
		font-weight: 400;
		a {
			color: #fff;
		}
	}
	nav#top {
		margin: 23px 0 0;
		width: 600px;
		text-align: right;
		position: absolute;
		right: 0;
		top: 0;
		color: #fff;
		> ul {
			list-style: none;
			margin: 0;
			padding: 0;
			> li {
				display: inline-block;
				text-transform: uppercase;
				margin-left: 15px;
				> a {
					color: #fff;
					text-decoration: none;
					font-size: .8em;
					&:hover {
						color: @azul;
					}
				}
			}
			li#user-btn {
				text-transform: none;
				position: relative;
				.button-size(6px, 12px, inherited, 12px, 4px);
				.button-variant(#fff; @azulescuro; @azulescuro);
			}
		}
		#user-menu {
			display: none;
			position: absolute;
			top: 30px;
			left:0;
			z-index: 5000;
			width: 133px;
			background-color: #fff;
			border-radius: 4px 4px 4px 4px;
			> ul {
				list-style: none;
				margin: 10px 0;
				padding: 0;
				li {
					padding: 8px 15px;
					margin:0 0 0 0;
					text-align: left;
					a {
						color: #666;
						font-size: .8em;
					}
				}
			}
		}
	}
}


section#map {
	width: 100%;
	position: relative;
	.wrap960 {
		z-index: 1000;
		position: static;
		#hide {
			position: absolute;
			top: 10%;
			right: 7.8%;
			border:none;
			.button-size(6px, 12px, inherited, 12px, 4px);
			.button-variant(#fff; #000; pink);
			z-index: 4;
		}
		#filtros {
			width: 425px;
			min-height: 160px;
			background-image: url('../images/bg_filtros.png');
			border-radius: 6px;
			padding: 20px;
			position: absolute;
			right: 7%;
			top: 20px;
			font-size: .9em;
			color: #fff;
			z-index: 2;
			button {
				font-size: .9em;
				border:none;
				.button-size(6px, 12px, inherited, 12px, 4px);
				.button-variant(#fff; @azulescuro; @azulescuro);
				&#raios {
					position: absolute;
					bottom: 20px;
					right: 20px;
				}
			}
		}
	}
	#map_canvas {
		width: 960px;
		height: 510px;
		margin: 0 auto;
		border-radius: 16px;
		-webkit-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.75);
		-moz-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.75);
		box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.75);
	}
	#map_canvas_full {
		border-bottom: 1px solid @azultopo;
		width: 100%;
		height: 510px;
	}
}

section.contents {
	width: 100%;
	padding: 25px 0 60px;
	min-height: 300px;
	form {
		h5:first-child {
			display: none; /* mensagem de erro */
		}
		.form-group {
			a.various { /* ? */
				float: right;
				padding-top: 20px;
				font-size: .9em;
			}
		}
	}
}

#home {
	/*padding-top: 0;*/
	p {
		font-size: 1.1em;
		line-height: 1.8em;
		font-weight: 300;
		padding: 0 20px;
		color: #000;
		&:first-child {
			margin-top: 0;
		}
	}
	#botoes {
		margin-top: 35px;
		text-align: center;
		#tenho {
			margin-right: 30px;
			.btn-gradient(#b2c200, @verde, #859100, #9acc85, #636c00);
		}
		#preciso {
			.btn-gradient(#00a9cf, @azultopo, #00758f, #54a3f7, #154682);
		}
	}
}

#login {
	form {
		.column(8);
		margin-left: 0;
	}
	aside {
		.column(4);
	}
}

#user {
	#foto {
		.column(3);
		margin-left: 0;
	}
	#user-form {
		.column(6);
		#map_canvas {
			margin: 30px 0;
			width: 420px;
			height: 300px;
		}
	}
	aside {
		.column(3);
		border-radius: 6px;
		padding: 20px;
		background-color: @verde;
		color: #fff;
		font-size: .9em;
	}
}

#item { /* usado em diversas views de item */
	header {
		.item-novo {
			float: right;
			font-weight: bold;
			.button-size(6px, 12px, inherited, 12px, 4px);
			.button-variant(#fff; @verde_botao; @verde_botao);
		}
		h2 {
			float: left;
		}
	}
	aside {
		float: right;
		width: 350px;
	}
	#form {
		float: left;
		width: 500px;
	}
	.item_single { /* user_item_list */
		background-color: #fff;
		height: 200px;
		margin-bottom: 20px;
		border-radius: 12px;
		position: relative;
		padding: 20px;
		h3 {
			margin-top:0;
		}
		.itemdel {
			position: absolute;
			right: 10px;
			top: 10px;
			width: 20px;
			height: 20px;
			padding: 0;
			background-color: #fff;
			color: #ccc;
			border: none;
			text-decoration: none;
		}
		.action {
			position: absolute;
			left: 20px;
			bottom: 20px;
			button {
				border: none;
				.button-size(6px, 12px, inherited, 12px, 4px);
				.button-variant(#fff; @azulescuro; @azulescuro);
				&.item-modify {
					background-color: @amarelo_botao;
				}
				&.item-status {
					background-color: @azul;
				}
				&.active {
					background-color: @verde_botao;
				}
			}
		}
		.thumbs {
			position: absolute;
			right: 20px;
			top: 60px;
			width: 420px;
			float: right;
			img {
				margin-left: 20px;
			}
		}
	}
}

/* TABLES */
table {
	width: 100%;
	padding: 10px;
	border: 1px solid @azultopo;
	border-collapse: collapse;
	thead th {
		text-align: left;
		padding: 10px 20px;
	}
	td {
		padding: 10px 20px;
	}
}

footer {
	/*background-color: @verde;*/
}

/* CLEARFIX */

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

